:root {
    --bg: rgb(66, 66, 66);
    --lightgrey: rgb(180, 180, 180);
    --white: rgb(238, 238, 238);
}

body, html { height: 100% }

* {
    font-family: Arial;
    text-align: center;
    color: var(--white);
    text-decoration: none;
}

body {
    padding: 0;
    margin: 0;
    background-color: var(--bg);
}

a {
    color: var(--white);
    transition: color 0.2s ease;
}

a:hover { color: var(--lightgrey) }

/* div { border: 1px dotted red; } */

.wrapper {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
}

.header {
    display: flex;
    justify-content: center;
}

.header h1 {
    font-size: 3rem;
}

#content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-grow: 1;
}

.links {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.link {
    overflow: hidden;
    margin: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 180px;
    max-height: 200px;
    padding: 20px;
    transition: transform 0.1s ease;
    background-color: rgb(90, 90, 90);
    border: 2px solid var(--lightgrey);
    border-radius: 30px;
}

.link:hover {
    transform: scale(105%);
}

.link-icon {
    width: 100px;
    margin-bottom: 20px;
}

.link-name {
    font-size: 2rem;
}

.link-description {
    color: var(--lightgrey);
    margin-top: 10px;
    font-size: 1rem;
}